body{
    background-image: url('/image/bg.jpg');
    background-size: cover;
}

.nav{
    border: 1px solid black;
    background-color: white;
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    width: 100%;

}

th {
    color: black;
    font-family: Roboto;
    font-size: 22px;
    background-color: beige;
    padding: 5px;
}

td {
    color: black;
    font-family: Roboto;
    font-size: 22px;
    background-color: whitesmoke;
    padding: 5px;

}

table{
    margin: auto;

}

button{
    width: 130px;
    height: 70px;
   position: relative;
   left: 25%;
    font-family: Roboto;
    cursor: pointer;
    font-size: 18px;
   position: absolute;
   left: 90%;
   top: 4%;
}

button a {
    text-decoration: none;
    color: black;
}
.btn-add{
    width: 130px;
    height: 70px;
   position: relative;
   left: 25%;
    font-family: Roboto;
    cursor: pointer;
    font-size: 18px;
   position: absolute;
   left: 82%;
   top: 4%;
}